{# src/Musis/Team/MusisBundle/Resources/views/Musis/index.html.twig #}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Musis</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" /> 
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ asset('built/css/style.css') }}" />
  	</head>
	<body>
		<div id="dz-root"></div>	
		<!-- INTRO SCREEN -->
		<section id="intro">
			<header id="main">
				<h1><img src="{{ asset('built/img/logo.png')}}"/></h1>
				<nav class="main-menu">
					<ul>
						<li><a href="#_">Découvrir un lieu</a></li>
						<li><a href="#_">Choisir un itinéraire</a></li>
						<li class="logo-placeholder">Logo</li>
						<li><a href="#_">Voir tous les artistes</a></li>
						<li><a href="#_">Connaître Musis</a></li>
					</ul>
				</nav>
			</header>
			<p class="text-intro">
				Redécouvrez Paris à travers la musique.<br/>
				Musis vous propose des balades d'un nouveau genre. Une manière originale<br/>de voir la ville.
			</p>
			<button id="begin">Commencer la visite</button>
		</section>
		<!-- END INTRO SCREEN -->

		<section class="musisMap" id="map">
		</section>
		<nav class="panel-menu">
			<ul>
				<li class="search"><a href="#playlist" class="fa fa-search"></a></li>
				<li class="arrow"><a href="#playlist" class="fa fa-arrow-left"></a></li>
				<li class="navicon"><a href="#mainmenu" class="fa fa-navicon"></a></li>
				<li class="marker"><a href="#playlist" class="fa fa-map-marker"></a></li>
				<li class="play"><a href="#playlist" class="fa fa-play"></a></li>
			</ul>
		</nav>		

		{% block panelContent %}
			{{ include("TeamMusisBundle:Musis:playlist.html.twig") }}
		{% endblock %}

		<section class="panel-content" id="mainmenu">
			<ul>
				<li><a class="accueil" href="#_">Accueil</a></li>
				<li><a class="playlist" href="#_">Découvrir un lieu</a></li>
				<li><a class="parcours" href="#_">Choisir un itinéraire</a></li>
				<li><a class="Artistes" href="#_">Voir tous les artistes</a></li>
				<li><a class="apropos" href="#_">Connaître Musis</a></li>
			</ul>
		</section>

		<script>
		// Temporary code
		var musics = [];
		{% for music in musics %}
			musics.push({
				title: '{{ music.title }}',
				album: '{{ music.album }}',
				link: '{{ music.link }}',
				year: '{{ music.year }}',
				lyrics: '{{ music.lyrics }}',
				places: [
					{% if music.musicsPlaces.count()>0 %}
						{% for musicPlace in music.musicsPlaces %}
							{
								name:'{{ musicPlace.place.name }}',
								coordLat: '{{ musicPlace.place.coordLat }}',
								coordLong: '{{ musicPlace.place.coordLong }}'
							},
						{% endfor %}
					{% endif %}
				],
				playlists: [
					{% if music.musicsPlaylists.count()>0 %}
						{% for musicPlaylist in music.musicsPlaylists %}
							{
								name:'{{ musicPlaylist.playlist.name }}',
								presentation : '{{ musicPlaylist.playlist.presentation }}'
							},
						{% endfor %}
					{% endif %}
				],
				artists: [
					{% if music.musicsArtists.count()>0 %}
						{% for musicArtist in music.musicsArtists %}
							{
								id:'{{ musicArtist.artist.id }}',
								name:'{{ musicArtist.artist.name }}'
							},
						{% endfor %}
					{% endif %}
				]
			});
		{% endfor %}
		</script>

		<!--<script src="http://195.154.110.135:35729/livereload.js"></script>-->
		<script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz.js"></script>
		<script src="{{ asset('built/js/scripts.min.js') }}"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	</body>
</html>
