<section class="parcours">
	<form id="search" method="post" action="">
		<input placeholder="Rechercher bientôt disponible" type="text" id="search-input" />
	</form>
	<div class="playlist-top">
		<div class="playlist-length">
			<!--{{ playlist|length }} titres-->
		</div>
	</div>

	<h2>{{playlistInfo.name}}</h2>

	<blockquote id="citation">
	</blockquote>
	<div class="author"></div>
	<p class="playlist-description">
		{{playlistInfo.presentation}}
	</p>

	<div id="trackListing">
		<ul id="trackList">


		{% for item in playlist %}

			<li id="{{loop.index-1}}" class="trackInfos"><span class="track-number">{{loop.index-1 +1}}</span><span class="track-title">{{ item.music.title }}</span><br/><span class="track-artist">{{ item.music.musicsArtists[0].artist.name }}</span></li>

				
		  {% endfor %}

		</ul>
	</div>
	<a class="toAllParcours" href="#_">&gt; Retour à tous les parcours</a>

	<div id="player">
		<div id="slider_seek" class="progressbarplay" style="">
			<div class="bar" style="width: 0%;"></div>
		</div>
		<div id="song-info">
			<div class="position"></div>
			<div class="length"></div>
			<div class="title"></div>
		</div>
	</div>
</section>

